.mega-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .menu-item {
    position: relative;
    cursor: pointer;
  }
  
  .menu-title {
    font-weight: bold;
    
  }
 
 
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 150px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .sub-menu-item {
    cursor: pointer;
    padding: 5px 0;
  }
.mega-menu button{
    width: 200px;
    border: none;
    padding: 1rem;

}  
form{
    background: rgb(235, 234, 234);
    width: 40%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px 1px;
    margin:10rem auto;
}
form input[type="text"]{
    width: 400px;
   border-radius: 0.5rem;
   border: none;
    padding: 1rem;
   margin:1rem auto;
    
}

.input_and_menu{
   display: block;
}

.terms_and_save{
    
  margin-top: 1rem;
  margin-bottom: 1rem;
   
}
.selectmenu{
    cursor: pointer;
    width: 410px;
   padding: 0.5rem;
   color: rgb(25, 26, 24);
   font-weight: bold;
   border-radius: 0.4rem;
    background-color: rgb(202, 224, 100);
}
.save{
    padding:0.7rem 2rem;
    width: 200px;
    margin-left: 200px;
    background: rgb(202, 224, 100);
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
}